<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Verification for Google console -->
<meta name="google-site-verification" content="l9u6DSwP7vukJVgF3fxsyDC_XpzWmnZK7cnzUwK-BT0" />

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- for stacking grids on mobile -->
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<!-- end custom head snippets -->
